/*public*/
@font-face {
  font-family: 'iconfont';  /* project id 283220 */
  src: url('//at.alicdn.com/t/font_9jt804jscm29be29.eot');
  src: url('//at.alicdn.com/t/font_9jt804jscm29be29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_9jt804jscm29be29.woff') format('woff'),
  url('//at.alicdn.com/t/font_9jt804jscm29be29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_9jt804jscm29be29.svg#iconfont') format('svg');
}

p,dl,dt,dd{margin: 0; padding: 0;}

.ml10{margin-left: .5rem;}

.layout-block{display: block;}
.layout-inline-block{display: inline-block;}
.layout-box{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.box-row{-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.box-center-h{-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.box-center-v{-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.layout-box .box-col{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:100%}
.layout-box .plus{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end}

.line-top:before{content:'';position:absolute;left:0;top:0;bottom:auto;right:auto;height:1px;width:100%;background-color:#e1e1e1;display:block;z-index:15;-webkit-transform-origin:50% 0;transform-origin:50% 0}
.line-bottom:after{display:block;content:'';position:absolute;left:0;top:auto;right:0;bottom:0;height:1px;background-color:#e1e1e1;z-index:15;-webkit-transform-origin:50% 100%;transform-origin:50% 100%}
.line-gradient{width: 1px; height: 1rem;border:none;background-image:-webkit-gradient(linear,left top,right top,color-stop(50%,transparent),color-stop(50%,#dadada),color-stop(100%,#dadada));background-image:-webkit-linear-gradient(left,transparent 50%,#dadada 50%,#dadada 100%);background-image:linear-gradient(to right,transparent 50%,#dadada 50%,#dadada 100%);background-size:1px 100%;background-repeat:no-repeat;background-position:right}}.line-left{border-left:1px solid #dadada}


.ui-icon-shousuo:before{content:"\e656";font-size:1.4rem; color: #fff; margin-left: 5px;}
.ui-icon-man:before{content:"\e650"; color:#4395ff;}
.ui-icon-woman:before{content:"\e610";}
.ui-icon-motion:before{content:"\e6e4"; color: #009100;}
.ui-icon-music:before{content:"\e600";color: #007979}
.ui-icon-cate:before{content:"\e654";color: #A23400;}
.ui-icon-books:before{content:"\e601";color: #408080;}
.ui-icon-movie:before{content:"\e60d";color: #977C00;}
.ui-icon-shuoshuo:before{content:"\e72d";}
.ui-icon-travel:before{content:"\e65d";}
.ui-icon-album:before{content:"\e6af";}
.ui-icon-video:before{content:"\e606";}
.ui-icon-knowledge:before{content:"\e645";}
.ui-icon-project:before{content:"\e617";}
.ui-icon-resume:before{content:"\e623";}
.ui-icon-mailbox:before{content:"\e665";}
.ui-icon-seting:before{content:"\e61a";}
.ui-icon-comment:before{content:"\e621";}
.ui-icon-forward:before{content:"\e65f";}
.ui-icon-wenzhang:before{content:"\e72e";}

.bar a,.bar .ui-icon-shousuo:before{color: #3d4145;}

.card-list header,.card-list section,.card-list footer{position:relative; font-size: 0;}
.card-list .card-range{position:relative; margin-bottom: .5rem; background: #fff;}
.card-list .card-range a{color: #333; font-size: .75rem;}
.card-list .card-range header a{padding: .5rem;}
.card-list .card-range header a .mod-media{font-size: 0;}
.card-list .card-range header a .mod-media img{width: 1.7rem; height: 1.7rem; border: .0625rem solid #e4e4e4; border-radius: 50%; overflow: hidden;}
.card-list .card-range header a .item-list{margin-left: .5rem;}
.card-list .card-range header a .item-list .item-minor{font-size: .5rem; color: #929292;}
.card-list .card-range section a{padding:0 .5rem .5rem .5rem;}
.card-list .card-range section a.inner{padding-top: .5rem; background: #f7f7f7;}
.card-list .card-range footer a{padding: .25rem 0; text-align: center;}
.card-list .card-range footer a i{margin-right: .2rem; color: #929292;}
.card-list .card-range .media-pic-list{margin: 0; padding: 0; width: 13rem; list-style: none;}
.card-list .card-range .media-pic-list li{margin: 0 .2rem .2rem 0;width:4rem; height: 4rem; float: left; overflow: hidden;}
.card-list .card-range .media-pic-list li img{display: block; width: 100%; height: 100%; background: center center no-repeat; background-size: cover;}
.card-list .card-range .media-pic-list.imgscale-middle li{width:6rem; height: 6rem;}
.card-list .card-range .media-pic-list.imgscale-big li{width:12rem; height: 12rem;}
.card-list .card-range .knowledge-range i{font-size: 2rem; color: steelblue;}
.card-list .card-range .knowledge-range p{margin-left: .5rem; font-size: 1rem; color: steelblue;}


/*private*/

.set-attribute{background: #3c3c3c;}
.set-attribute .list-block{background: #3c3c3c;}
.set-attribute .list-block ul:before,.set-attribute .list-block ul:after,.set-attribute .list-block .item-inner:after{display: none;}

.set-attribute .list-block a{color: #fff;}

.banner{position: relative; background: slategrey; height: 40%; color: #fff;}
.banner i{vertical-align: middle;}
.banner .user-head{margin-top: 1rem; text-align: center;}
.banner .user-img{margin: 0 auto; width: 4rem; height: 4rem; border-radius: 50%; overflow: hidden;}
.banner .user-img img{width: 100%; height: 100%;}

.tab-fixed{position:fixed; left: 0;right: 0;top: 0;}

.user-info{background: #fff;}
.user-info .list-block ul:after{display: none;}
.interest li{padding-top: 1rem;}
.interest .button-fill{margin: .2rem .1rem; display: inline-block;}
.interest .motion .button-fill{background: #BBFFBB; color: #009100;}
.interest .music .button-fill{background: #CAFFFF; color: #007979;}
.interest .cate .button-fill{background: #FFCBB3; color: #A23400;}
.interest .books .button-fill{background: #A3D1D1; color: #408080;}
.interest .movie .button-fill{background: #FFF0AC; color: #977C00;}
.interest i{font-size: 1.2rem;}

.page-travels .card{border-radius: .5rem; overflow: hidden;}
.page-travels .card a{ display: block; color: #3d4145;}
.page-travels .card .img{width: 100%; height:8rem; overflow: hidden;}
.page-travels .card .img img{width: 100%; height: 100%; background: center center no-repeat; background-size: cover;}
.page-travels .card .title{position: absolute; top: 5.5rem; left: .5rem; right: .5rem;  color: #fff;}
.page-travels .card .title .day{margin-right: .5rem; padding-right: .5rem;border-right: 1px solid #fff;}
.page-travels .card .title strong{line-height: 2rem; font-size: 2rem; font-family: HelveticaNeue-Light; font-weight: 400;}
.page-travels .card .title dl dt{font-size: .55rem;}
.page-travels .card .title dl dd{font-size: .8rem;}
.page-travels .card .tag{margin-bottom:.5rem;}
.page-travels .card .tag label{margin-right: .5rem; padding:0 .4rem; height:1.1rem; line-height:1.1rem; border-radius: .5rem; font-size: .6rem; color: #959595; background: #f2f2f2;  overflow: hidden; }
.page-travels .card .plan{display: -webkit-box; overflow: hidden; word-wrap: break-word; text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

.panel-elevator{top: 2.2rem; bottom: 0; height: auto; background:rgba(255,255,255,.8);}
.panel-elevator .xeline{position: absolute; top:2.6rem; left: 1.2rem; bottom: .5rem; width: .05rem; height: 100%; background:#959595;}
.panel-elevator .list-block{padding-left: 1rem; background: transparent;}
.panel-elevator .list-block li{display: block; line-height: 2rem;}
.panel-elevator .list-block a{color: #959595;}
.panel-elevator .list-block i{margin-right: .5rem; width: .4rem; height: .4rem; background:#959595; border-radius: 50%;}
.panel-elevator .list-block a.type_1 span{color: #444;font-weight: 700;}
.panel-elevator .list-block a.type_2{padding-left: .9rem;}
.panel-elevator .list-block a.type_2 i{display: none;}











    