<!DOCTYPE html>
<html>
<head>
	<mate charset='utf-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<script src="lib/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/waves/waves.css">
    <script src="lib/waves/waves.js"></script>
</head>
<body>
	<div class="page page-travels waves-effect" id="travels">
        <header class="bar bar-nav waves-effect">
            <div class="left"><a class="link back" href="index.html"><span class="ui-icon-navbar-left"></span>返回</a></div>
            <div class="title">我的旅行</div>
            <div class="right"></div>
        </header>
        <div class="content" id="travels-content">
            <div id="travels-card">
                <my-component :model="itemsList" v-model="dateTime"></my-component>
            </div>
        </div>
    </div>
<script src="lib/app.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/infinite-scroll.js"></script>
<script src="lib/pull-to-refresh.js"></script>
<script src="lib/ajax.js"></script>
<script type="text/x-template" id="item-template">
    <div>
        <div v-for="dataItem in model" :key="dataItem.id" class="card waves-effect" id="card">
            <a class="card-content" href="travel.html">
                <div class="img">
                    <img style="background-image: url(images/travels/20170516-01.jpg);">
                </div>
                <div class="title layout-box">
                    <div class="day">
                        <strong>{{dataItem.totalTime}}</strong>天
                    </div>
                    <dl>
                        <dt>{{dataItem.startTime}}</dt>
                        <dd>{{dataItem.trip}}</dd>
                    </dl>
                </div>
                <div class="card-content-inner">
                     <div class="tag layout-box">
                        <label v-for="item in dataItem.items">{{item.message}}</label >
                     </div>
                     <p class="plan">{{dataItem.route}}</p>
                </div>
            </a>
        </div>
    </div>
</script>
<script type="text/javascript">
    $('#travels').on('pageInit', function () {
        Waves.init();
        var content_id = '#travels-content',
            fresh_content = $(content_id),
            fresh_list = $('#travels-card');

        // 场景一、实例化滚动组件，且触发加载第一页数据
        var fresh_scroll = new $.InfiniteScroll(content_id, function (page, done) {
            getData(fresh_list, page.index,function(pageCount){
                page.count = pageCount;
                done();
                if (fresh_content.hasClass('refreshing')) {
                    fresh_ptr.reset();
                }
            });
        });

        // 实例化下拉刷新组件
        var fresh_ptr = new $.PullToRefresh(content_id, function () {
            getData(fresh_list, 1,function(pageCount){
                fresh_ptr.reset();
                fresh_scroll.reinit(pageCount, true);
            });
        });


        function initVue(data){
            Vue.component('my-component', {
              template: '#item-template',
              props: {
                model: Array
              }
            })

            var vm =new Vue({
              el:'#travels-card',
              data:{
                itemsList : data.itemsList,
                dateTime: new Date().toLocaleString()
              },
              created: function () {
                this.update()
              },
              watch:{
                dateTime : 'update'
              },
              methods:{
                update:function(){
                    console.log('111111111')
                    fresh_ptr.reset(this.dateTime);
                }
              }
            })
        }

        function getData(container, pageIndex, callback){
            $._ajax({
                url: 'data/travels.json', 
                type: 'GET',            
                data: { sleep: 30 },      
                done: function (data) {
                    var pageCount = data.pageCount;
                    initVue(data);
                    $('.right').html(data.itemsList[0].trip);
                    callback(pageCount);
                },
                fail: function () {       
                    console.log('fail')
                }
            });
        }
    });
</script>
</body>
</html>